*{
	font-family: sans-serif;
}
body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background: #eeeeee;
}


/*------------------------------------- Start of login page----------------------------*/
.main-login{
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 60vh;
	margin-top: 15%;
}
.login-border{
	border: 1px solid black;
	text-align:center;
	display: flex;
	flex-direction: column;
	padding:20px 20px;
	justify-content: center;
	width: 50vh;
}
.login-border input[type=email],.login-border input[type=password]{
	border:2px solid lightgrey;
	width: 70%;
	font-size: 20px;
	padding:7px 0px 7px 10px;
	border-radius: 10px;

}
.login-border input[type=password]{
	margin:20px 0px 0px 0px;
}

.login-border input[type=email]:focus,.login-border input[type=password]:focus{
	border:2px solid #8F8528;
	transition:0.3s;
	border-radius: 5px;
}
.login-border button{
	width: 70%;
	background: #000000;
	opacity: 0.5;
	font-size: 20px;
	font-weight: bold;
	color:white;
	padding:7px 0px 7px 0px;
	margin: 30px 0px 20px 0px;
	text-align: center;
	border:2px solid black;
	border-radius:10px;
	cursor: pointer;
	transition: 0.4s;
	
}

.login-border button:hover{	
	opacity: 0.7;
}
.login-border h3{
	font-size: 25px;
	font-weight: lighter;
}

/*--------------------------------------end of admin login page------------------------*/

@media only screen and (max-width: 992px) {
	.main-login {margin-top: 160px;}
}
  
  