*{
	font-family: sans-serif;
}
body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
#header-home-menu{
	background: white;
	display: flex;
	height: 120px;
	//margin-bottom: 2px;
	align-items: flex-end;
	justify-content: center;
	border-bottom: 1px solid skyblue;
}

#menu {
	display: flex;
	list-style-type: none;
	width: 400px;
	justify-content: space-around;
}
.nav-link{
	color:black;
	text-decoration: none;
	font-size: 20px;
}
.nav-link:hover{
	color: blue;
	animation: nav-anim 2s;
}
/*@keyframes nav-anim {
	from 0%{
		color:orange;
	}
	to 100%{
		color: white;
	}
}
*/




