*{
	font-family: sans-serif;
}
body{
	margin: 0px;
}
#header-home-menu{
	background-color: gray;
	width: auto;
	height: 40%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;

}
#header-home-menu #menu li{
	display:inline;
	flex-direction: row;
	border-style: solid;
	font-size: 20px;
}
#header-home-menu nav{
	width: 300px;
	border-style: solid;
	padding: 0px;

}
#header-home-menu a{
	text-decoration: none;
}